extends layout.pug

block variables
  - title = "Act"

block content
  article
    h2 Add Your Name
    p To prevent a Kessler cascade, we need international collaboration and legislation. To show your support, please consider adding your name! This will help others see how many people care about this issue, hopefully motivating lawmakers to take action.
