extends layout.pug

block variables
  - hardTitle = 'Kessler Cascades'

block content
  p As we begin to think consciously about pollution and cleaning up Earth, a solution many have thought of as ideal is to move critical infrastructure like #[a(href="https://www.starlink.com/" target="_blank" rel="noopener") internet services] into space.
  p In theory, space would allow us to maintain our standard of living without polluting the Earth we live in. Since satellites stay in orbit once launched, maintainance costs are lower as well, right?
  p The reality is far more complex.
  p While pollution on Earth leads to climate change, [etc], pollution in orbit has the potential to bar space to humanity for centuries.

  h2 What is Kessler Syndrome?
  p #[strong Kessler Syndrome], #[a(href="https://ia902902.us.archive.org/27/items/kesslercollisionfrequency1978/Kessler_Collision_Frequency_1978.pdf" target="_blank" rel="noopener") postulated by Donald J. Kessler and Burton G. Cour-Palais in 1978], describes a scenario where the debris from a satellite collision hits other satellites, in turn creating more debris and sparking a collision chain which ends when every satellite in orbit is demolished.
  p A chain of collisions such as this is known as a #[strong Kessler Cascade].
  p While no cascades have occured yet, we are beginning to see the signs  of a potential future cascade.

  h2 Why do I care? I'm not a space nerd like you seem to be.
  p That's a fair point, and many people have asked that.
  p The truth is, space is deeply integrated into our modern technology to a level most people don't realize. How often have you used a GPS instead of a paper map? Do you rely on Mobile Data to stay connected while on the go? Do you check the weather report before taking a walk?
  p All of these services (and more) are provided by satellites. The Global Positioning System (GPS) relies on satellites in geosynchronous orbit, many internet and mobile data companies use satellites (#[a(href="https://www.ses.com/press-release/east-and-west-malaysia-gain-enhanced-mobile-broadband-ses-networks-and-compudyne" target="_blank" rel="noopener") including in Malaysia], where I live), 

  h2 How long does a Kessler Cascade take?
  p While the 2013 film #[a(href="https://www.imdb.com/title/tt1454468/" target="_blank" rel="noopener") Gravity] portrays a Kessler cascade unfolding over a matter of hours, a real cascade would likely take place over a time on the order of years or decades.
  p This has good and bad implications.
  p On the plus side, we should be able to take action even during the actual cascade. On the other hand, we might not be able to tell that a cascade is happening for years, until it's too far to stop.

  h2 Is this actually urgent?
  p In 2007, NASA's chief orbital debris scientist
