extends layout.pug

block variables
  - title = "Pledge Your Support"

block content
  p We, the undersigned, having an understanding of the risks of catastrophic debris collision chains, commonly known as <strong>Kessler cascades</strong>, agree that the global community should be taking all necessary and reasonable steps possible to safeguard space for long-term exploration, industrial use, and habitability.
  p We also urge our respective governments to take every step possible to promote international collaboration, enact legislation, and propose plans to prevent future Kessler cascades to the fullest extent they are able.
  p Inconsiderate practices and policies with regard to the usage of space such as <a href="https://spacenews.com/why-we-need-to-avoid-more-anti-satellite-tests/" target="_blank" rel="noopener">anti-satellite tests</a> and <a href="https://www.forbes.com/sites/williampentland/2011/05/07/congress-bans-scientific-collaboration-with-china-cites-high-espionage-risks/?sh=462cd8cc4562" target="_blank" rel="noopener">the prohibition of direct bilateral NASA-CNSA collaboration</a> need to be banned at the national and/or international levels as appropriate for the good of society at large.
  p <a href="https://treaties.unoda.org/t/outer_space">Even under the limited existing international legislation</a>, it is clear that "[t]he exploration and use of outer space … shall be carried out for the benefit and in the interests of all countries … and shall be the province of all mankind." In this vein, the responsibility for preventing Kessler cascades belongs to all able nations, and the problem needs to be adressed in a manner fit to that same international treaty's stated goal of "promoting international co-operation and understanding."
  p We, in the limited manner possible for unelected citizens, commit to promote these ideals in our communities to the best of our abilities and to take every available opportunity help the situation.
  
  form(action="/pledge/#signatures" method="POST")
    h3 Sign your name
    label Full Name or preferred alias
      input(type="text" placeholder="For example, \"John Doe\"" name="name" maxlength="32" required)
    label Country of origin (optional)
      input(type="text" placeholder="To represent international accord" maxlength="64" name="from")
    
    input(type="submit" value="Submit")
    p By selecting "Submit", you agree to allow us to display the name and nationality you've entered to all visitors of this site and understand that this information may be indexed by search engines or other third-party sites.

  h2#signatures Signatures
  each signature in signatures
    p
      strong= signature.name
      = signature.from ? ' from ' + signature.from : ''
